.logo-small {
  padding-left: 10px;
  height: 3.4rem;
  pointer-events: none;
}

.sidebar {
  background-color: #24292e;
  border-radius: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-bottom: 18px;
}

.navbar-brand {
  cursor: pointer;
}

#main-appplication {
  padding-top: 20px;
}

.navbar-icon {
  font-size: 2rem;
}

.navbar {
  height: 4rem;
}